[phases.setup]
nixPkgs = [
    'python311',
    'python311Packages.pip',
    'python311Packages.virtualenv',
    'gcc',
    'python311Packages.wheel'
]

[phases.install]
cmds = [
    'python -m venv --system-site-packages /app/.venv',
    '/app/.venv/bin/pip install --break-system-packages --upgrade pip setuptools wheel',
    '/app/.venv/bin/pip install --break-system-packages -r requirements.txt'
]

[start]
cmd = 'bash start.sh'

[variables]
FLASK_APP = "script.py"
FLASK_ENV = "production"
PYTHONPATH = "/app"
PYTHONUNBUFFERED = "1"
PORT = "3000"