Flask==3.1.2
flask-limiter==4.1.1
flask-caching==2.3.1
python-whois==0.9.6
redis==7.1.0
gunicorn==25.0.0
apispec==6.9.0
apispec-webframeworks==1.2.0
marshmallow==4.2.1
flask-swagger-ui==5.21.0
pytest==9.0.2
pytest-cov==7.0.0
setuptools